@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Passengers";
}

<h1>Passengers</h1>
@if (Model.Passengers.Any())
{
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Position In Time</th>
                    <th>Destination</th>
                    <th>Transporter</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var passenger in Model.Passengers)
                {
                    <tr>
                        <td>@passenger.Id</td>
                        <td>@passenger.Name</td>
                        <td>@passenger.PositionInTime</td>
                        <td>@passenger.Destination</td>
                        <td>@passenger.Transporter.Name</td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@passenger.Id">edit</a>
                            @*<button type="submit" asp-page-handler="delete"
                                        asp-route-id="@passenger.Id">
                                    delete
                                </button>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*<a asp-page="./Create">Create</a>*@
    </form>
}